h3 {
    font-size: 40px;
    color: #e27d60;
}

.addItemInput {
    width: 300px;
    background-color: #d3f1ff;
    text-align: center;
    border: solid 2px #042600;
    margin: 10px;
    font-size: 20px;
}

textarea {
    width: 300px;
    height: 400px;
    background-color: #d3f1ff;
    text-align: left;
    border: solid 2px #042600;
    margin: 10px;
    font-size: 20px;
}

button {
    width: 140px;
    height: 60px;
    background-color: #d4705c;
    text-align: center;
    border: solid 4px #042600;
    margin: 10px;
    font-size: 20px;
    border-radius: 20px;
}