<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jett Recursion Minilab</title>
</head>
<body style="background-color:LightBlue;">
<h1 style="font-family:'Courier New', monospace; background-color:LightSkyBlue">Jett's Mini-Lab</h1>
<h3 style="font-family:'Courier New', monospace">Palindrome Checker</h3>
<form th:action="@{/miniLab/Jett/}">
    <input type="text" th:name="word" placeholder="enter word"/>
    <input type="Submit"/>
</form>
<h1 style="font-family:'Courier New', monospace" th:text="${isPal}" > </h1>
</body>
</html>

