<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Del Norte Student Store</title>
  <link rel="stylesheet" href="CSS/Store.css">
  <link rel="stylesheet" href="CSS/StoreNavBar.css">
  <link rel="stylesheet" href="CSS/Store_NewItem.css">


</head>
<body>

  <ul>
    <li><a class="active" href="#a">Store</a></li>
    <li><a href="#b">Sale</a></li>
    <li><a href="#c">Watchlist</a></li>
    <li><a href="#d">Purchased</a></li>
    <input type="text" class="input" placeholder="Search..">
    <li style="float:right"><a href="#z">Cart</a></li>
  </ul>

  <h1>Sell Your Item on the Del Norte Student Store!</h1>

  <div style="text-align: center">
    <h3>Add an Item</h3>
    <input class="addItemInput" type="text" placeholder="Title"><br>
    <input class="addItemInput" type="text" placeholder="Category"><br>
    <input class="addItemInput" type="number" placeholder="Price"><br>
    <textarea>Enter the description here...</textarea><br>
    <button>Submit</button>


  </div>
</body>
</html>