<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benny's Sort lab</title>
</head>
<body>
<h1 style="font-family:'Courier New', monospace; background-color:purple">Benny's Mini-Lab</h1>
<h3 style="font-family:'Courier New', monospace">Insertion sorts</h3>
<h3 >Unsorted</h3>
<p id="unsorted"></p>
<h3>Sorted</h3>
<p id="sorted"></p>
<button onClick="refreshPage()">Refresh Button</button>
<script>
function insertionSort(arr, n)
{
    let i, key, j;
    for (i = 1; i < n; i++)
    {
        key = arr[i];
        j = i - 1;

        /* Move elements of arr[0..i-1], that are
        greater than key, to one position ahead
        of their current position */
        while (j >= 0 && arr[j] > key)
        {
            arr[j + 1] = arr[j];
            j = j - 1;
        }
        arr[j + 1] = key;
    }
}

// A utility function to print an array of size n
function printArray(arr, n)
{
    let i;
    for (i = 0; i < n; i++)
        document.write(arr[i] + " ");
    document.write("<br>");
}
document.getElementById("unsorted").innerHTML = "unsorted";
document.getElementById("sorted").innerHTML = "5, 6, 11, 12, 13";
// Driver code
    let arr = [12, 11, 13, 5, 6 ];
    let n = arr.length;

    insertionSort(arr, n);
    printArray(arr, n);
function refreshPage(){
    window.location.reload();
}

</script>
<form th:action="@{MiniLabs/Recursion/inserition.java}">

</form>

</body>
</html>