<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="import" th:replace="fragments/MiniLabNavBar"></div>
<div class="position-absolute top-50 start-50 translate-middle">
    <table class="mx-auto table table-dark table-bordered table-hover">
        <tr>
            <th scope="col">Data</th>
        </tr>
        <tr th:each="data:${ListData}">
            <td th:text="${data.toString()}"></td>
        </tr>
    </table>
    </div>

</body>
</html>