<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Blogs</title>
  </head>
  <body style="background-image: url('background.jpg');">

    <div align="center">
      <h1 align="center" style="color: #DFD6FD">Firebase Blogs</h1>
      <button id="submitButton" onclick="submitClick()">New Blog</button><br><br>
    </div>



    <div>
      <table align="center">
        <tr>
          <td style="width: 550px">
            <div style="width: 500px; background-color: #CDCEF9">
              <img src="mountains1.jpg" alt="Mountains" style="width:500px"><br>
              <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim mi eget ultricies pretium. Suspendisse mollis orci nec urna pharetra, at venenatis turpis tincidunt. Ut mollis sed metus et imperdiet. Nunc id neque felis. Duis urna tellus, ullamcorper a arcu faucibus, aliquet interdum ex. Duis volutpat tellus sed elit vulputate convallis. Proin auctor at diam vitae sagittis. Aenean egestas lectus eget magna ullamcorper, sed iaculis odio condimentum. Sed eu dui ac magna fringilla rutrum non non augue. Nulla facilisi. Quisque a quam orci. Ut tincidunt nisi vitae faucibus ornare.

                Phasellus elementum, nunc a molestie elementum, sapien ex consectetur magna, sed ultrices nulla arcu at ipsum. Nam fermentum, augue a rhoncus pellentesque, arcu purus suscipit erat, nec cursus mauris velit ac ex. Donec venenatis eros sem, nec efficitur lacus tempor sit amet. Quisque congue venenatis libero, at scelerisque elit condimentum quis. Quisque convallis odio cursus libero sollicitudin ullamcorper eu sed ipsum. Curabitur tincidunt tincidunt tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam non massa ac leo eleifend pulvinar sed quis erat. Aenean mattis laoreet purus quis mollis. Donec vestibulum lacus eget vestibulum elementum. Praesent lorem massa, rhoncus id eros vel, pellentesque suscipit lorem. Duis accumsan venenatis posuere. Sed sit amet lorem ornare, malesuada nisl eget, pulvinar massa.

                Aliquam venenatis ante in purus vulputate, ut elementum risus vehicula. Quisque tincidunt erat sit amet finibus vestibulum. Vivamus ex risus, finibus sed enim viverra, mattis maximus sem. Sed luctus mattis enim ut dictum. Curabitur a pharetra felis. Mauris elementum suscipit ex nec auctor. Pellentesque egestas faucibus libero ac malesuada. Phasellus nisi erat, commodo id mollis a, tristique vel urna. Fusce rhoncus hendrerit tortor, nec scelerisque elit convallis et. Curabitur quis turpis blandit, auctor velit at, sollicitudin nulla.

              </label>
            </div>
          </td>
          <td style="width: 550px">
            <div style="width: 500px; background-color: #CDCEF9">
              <img src="mountains1.jpg" alt="Italian Trulli" style="width:500px"><br>
              <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim mi eget ultricies pretium. Suspendisse mollis orci nec urna pharetra, at venenatis turpis tincidunt. Ut mollis sed metus et imperdiet. Nunc id neque felis. Duis urna tellus, ullamcorper a arcu faucibus, aliquet interdum ex. Duis volutpat tellus sed elit vulputate convallis. Proin auctor at diam vitae sagittis. Aenean egestas lectus eget magna ullamcorper, sed iaculis odio condimentum. Sed eu dui ac magna fringilla rutrum non non augue. Nulla facilisi. Quisque a quam orci. Ut tincidunt nisi vitae faucibus ornare.

                Phasellus elementum, nunc a molestie elementum, sapien ex consectetur magna, sed ultrices nulla arcu at ipsum. Nam fermentum, augue a rhoncus pellentesque, arcu purus suscipit erat, nec cursus mauris velit ac ex. Donec venenatis eros sem, nec efficitur lacus tempor sit amet. Quisque congue venenatis libero, at scelerisque elit condimentum quis. Quisque convallis odio cursus libero sollicitudin ullamcorper eu sed ipsum. Curabitur tincidunt tincidunt tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam non massa ac leo eleifend pulvinar sed quis erat. Aenean mattis laoreet purus quis mollis. Donec vestibulum lacus eget vestibulum elementum. Praesent lorem massa, rhoncus id eros vel, pellentesque suscipit lorem. Duis accumsan venenatis posuere. Sed sit amet lorem ornare, malesuada nisl eget, pulvinar massa.

                Aliquam venenatis ante in purus vulputate, ut elementum risus vehicula. Quisque tincidunt erat sit amet finibus vestibulum. Vivamus ex risus, finibus sed enim viverra, mattis maximus sem. Sed luctus mattis enim ut dictum. Curabitur a pharetra felis. Mauris elementum suscipit ex nec auctor. Pellentesque egestas faucibus libero ac malesuada. Phasellus nisi erat, commodo id mollis a, tristique vel urna. Fusce rhoncus hendrerit tortor, nec scelerisque elit convallis et. Curabitur quis turpis blandit, auctor velit at, sollicitudin nulla.

              </label>
            </div>
          </td>
          <td>
            <div style="width: 500px; background-color: #CDCEF9">
              <img src="mountains1.jpg" alt="Italian Trulli" style="width:500px"><br>
              <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim mi eget ultricies pretium. Suspendisse mollis orci nec urna pharetra, at venenatis turpis tincidunt. Ut mollis sed metus et imperdiet. Nunc id neque felis. Duis urna tellus, ullamcorper a arcu faucibus, aliquet interdum ex. Duis volutpat tellus sed elit vulputate convallis. Proin auctor at diam vitae sagittis. Aenean egestas lectus eget magna ullamcorper, sed iaculis odio condimentum. Sed eu dui ac magna fringilla rutrum non non augue. Nulla facilisi. Quisque a quam orci. Ut tincidunt nisi vitae faucibus ornare.

                Phasellus elementum, nunc a molestie elementum, sapien ex consectetur magna, sed ultrices nulla arcu at ipsum. Nam fermentum, augue a rhoncus pellentesque, arcu purus suscipit erat, nec cursus mauris velit ac ex. Donec venenatis eros sem, nec efficitur lacus tempor sit amet. Quisque congue venenatis libero, at scelerisque elit condimentum quis. Quisque convallis odio cursus libero sollicitudin ullamcorper eu sed ipsum. Curabitur tincidunt tincidunt tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam non massa ac leo eleifend pulvinar sed quis erat. Aenean mattis laoreet purus quis mollis. Donec vestibulum lacus eget vestibulum elementum. Praesent lorem massa, rhoncus id eros vel, pellentesque suscipit lorem. Duis accumsan venenatis posuere. Sed sit amet lorem ornare, malesuada nisl eget, pulvinar massa.

                Aliquam venenatis ante in purus vulputate, ut elementum risus vehicula. Quisque tincidunt erat sit amet finibus vestibulum. Vivamus ex risus, finibus sed enim viverra, mattis maximus sem. Sed luctus mattis enim ut dictum. Curabitur a pharetra felis. Mauris elementum suscipit ex nec auctor. Pellentesque egestas faucibus libero ac malesuada. Phasellus nisi erat, commodo id mollis a, tristique vel urna. Fusce rhoncus hendrerit tortor, nec scelerisque elit convallis et. Curabitur quis turpis blandit, auctor velit at, sollicitudin nulla.

              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional

      var firebaseConfig = {
        apiKey: "AIzaSyCTtYyWB6ego23PiqT9xDxAla7LQNEG2v8",
        authDomain: "csacodingcrocs.firebaseapp.com",
        projectId: "csacodingcrocs",
        storageBucket: "csacodingcrocs.appspot.com",
        messagingSenderId: "744970618223",
        appId: "1:744970618223:web:c46c9906aaa54edf37d49a",
        measurementId: "G-GVFCZY7XD5"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

  <script src="Blog.js"></script>


  </body>
</html>