<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inheritance</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: #948ad2">
<div style="text-align: center; font-size: 50px"><br>
  Welcome to Alex's MiniLab
  <br><br>
</div>
<div style="width: 800px; padding: 10px; border: 5px solid #dda1ff; margin: 50px; text-align: center; position: absolute; left: 900px">
  <label style="font-size: 35px">Inheritance MiniLab</label><br>
  <label style="font-size: 20px">First name</label><br>
  <input type="text" id="firstname" name="firstname"><br><br>
  <label style="font-size: 20px">Last name</label><br>
  <input type="text" id="lastname" name="lastname"><br><br>
  <label style="font-size: 20px">Age</label><br>
  <input type="number" id="age" name="age"><br><br>
  <label style="font-size: 20px">Gender</label><br>
  <input type="text" id="gender" name="gender"><br><br>
  <label style="font-size: 20px">Interests</label><br>
  <input type="text" id="interests" name="interests"><br><br>
  <button onclick="registerUser()">Execute</button><br><br><br>
  <label id="output2">age</label><br><br>
  <label id="output3">uid</label>

</div>


<script>
  function Person(first, last, age, gender, interests) {
    this.name = {
      first,
      last
    };
    this.age = age;
    this.gender = gender;
    this.interests = interests;
  };

  function User(first, last, age, gender, interests) {
    Person.call(this, first, last, age, gender, interests);

    this.uid = Math.round(Math.random() * 100000000)
  }

  function registerUser() {
    let myuser = new User(document.getElementById("firstname").value, document.getElementById("lastname").value, document.getElementById("age").value, document.getElementById("gender").value, document.getElementById("interests").value);
    document.getElementById("output2").innerText = myuser.age;
    document.getElementById("output3").innerText = myuser.uid;
  }
</script>
</body>
</html>
